@font-face {
    font-family: 'Sneak';
    src: local('Sneak'),
    url(./assets/fonts/Sneak-Regular.woff2) format('woff2'),
    url(./assets/fonts/Sneak-Regular.woff) format('woff'),
    url(./assets/fonts/Sneak-Regular.eot) format('eot');
  }

@font-face {
    font-family: 'Clifton';
    src: local('Clifton'),
    url(./assets/fonts/Clifton\ -\ Italic-205TF.woff2) format('woff2'),
    url(./assets/fonts/Clifton\ -\ Italic-205TF.woff) format('woff'),
    url(./assets/fonts/Clifton\ -\ Italic-205TF.eot) format('eot'),
    url(./assets/fonts/Clifton\ -\ Italic-205TF.ttf) format('ttf');
  }